<% provide(:title, translated_attribute(post.title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(post.title),
  description: translated_attribute(post.body),
  url: post_url(post.id)
}) %>

<%
  edit_link(
    resource_locator(post).edit,
    :update,
    :blogpost,
    blogpost: post
  )
%>

<% if post.main_image.attached? %>
  <div class="extended hero main" style="background-image: url(<%= post.attached_uploader(:main_image).path %>);">
    <div class="hero__container"></div>
    <div class="koro-wrapper">
      <%= koro("pulse", class: "secondary") %>
    </div>
  </div>
<% end %>

<section class="extended hero lower subpage secondary">
  <div class="hero__container">
    <div class="row column">
      <h1 class="h2"><%= translated_attribute post.title %></h1>
      <p><strong>Kampanja: <%= translated_attribute(current_participatory_space.title) %></strong></p>
      <p>
        <%= link_to posts_path(filter_link_params) do %>
          <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t(".back") %>
        <% end %>
        <br>
        <%= link_to main_app.posts_path(filter_link_params) do %>
          <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t(".directory_link") %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="koro-wrapper">
    <%= koro("pulse") %>
  </div>
</section>

<div class="row">
  <% if show_endorsements_card? %>
      <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
        <div class="card">
          <div class="card__content">
            <div class="row collapse buttons__row">
              <% if endorsements_enabled? %>
                <div class="column small-9 collapse">
                  <%= endorsement_buttons_cell(post) %>
                </div>
              <% end %>
              <div class="column collapse <%= endorsements_enabled? ? "small-3" : "" %>">
                <%= link_to "#comments", class: "button small compact hollow button--nomargin expanded" do %>
                    <%= icon "comment-square", class: "icon--small", aria_label: t(".comments"), role: "img" %> <%= post.comments_count %>
                <% end %>
              </div>
            </div>
            <br>
            <%= follow_button_for(post) %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="columns mediumlarge-8 <%= "mediumlarge-pull-4" if show_endorsements_card? %>">
    <div class="section">
      <%= decidim_sanitize translated_attribute post.body %>
    </div>
    <%= cell "decidim/endorsers_list", post %>
  </div>
</div>
<%= attachments_for post %>
<%= comments_for post %>
