<% if false %>
  <% # This would be needed with the favorites module %>
  <% if render_column? %>
    <div class="column" id="<%= dom_id(model) %>">
      <%= render :inner %>
    </div>
  <% else %>
    <%= render :inner %>
  <% end %>
<% end %>

<div class="column" id="<%= dom_id(model) %>">
  <%= render :inner %>
</div>
