<section class="extended home-section listing-section bg-secondary">
  <div class="row listing-section-heading text-center">
    <div class="columns small-centered large-10">
      <h2 class="heading2"><%== title %></h2>
    </div>
  </div>
  <div class="collapsible-list row small-up-1 medium-up-2 mediumlarge-up-3 card-grid">
    <% posts.each do |post| %>
      <div class="column">
        <%= link_to post_path(post), class: "card card-simple" do %>
          <%= image_tag resource_image_path_for(post), alt: translated_attribute(post.title) %>
          <div class="card-section">
            <div class="label plain">Artikkeli</div>
            <div class="card__header">
              <h3 class="h5"><%= translated_attribute post.title %></h3>
            </div>
            <div class="card__text">
              <div class="card__text--paragraph">
                <%== strip_tags html_truncate(translated_attribute(post.body), length: 300, separator: "...") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
