<div class="conversation-reply conversation-reply--offset">
  <h2 class="section-heading">
    <%= t(".title") %>
  </h2>

  <%= form_for form, url: decidim.conversation_path(conversation.id), method: :put, remote: true, data: { abide: true } do |f| %>
    <%= f.label :body, nil, id: "message_body_label" %>
    <%= f.text_area :body, label: false, rows: 4, required: true, placeholder: t(".placeholder"), data: { input_emoji: true }, aria: { describedby: "message_body_label" } %>

    <%= f.submit t(".send"), class: "button pull-right", data: { disable: true } %>
  <% end %>
</div>

<script defer>
$(document).ready(function() {
  // Foundation abide tries to submit the form but we want to submit it
  // dynamically through Rails UJS.
  var $form = $("#new_message_");
  $form.on("submit", function(ev) {
    ev.preventDefault();
    if ($(".form-error:visible", $form).length > 0) {
      return;
    }

    Rails.handleRemote.call($form[0], ev);
  });
});
</script>
