<section class="extended hero lower subpage secondary">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-8 large-push-2 text-center">
        <h1><%= translated_attribute page.title %></h1>
      </div>
    </div>
  </div>
  <div class="koro-wrapper">
    <%= koro("basic") %>
  </div>
</section>

<%= cell "decidim/tos_page", :announcement %>

<div class="wrapper">
  <div class="section">
    <div class="row">
      <div class="column medium-8 medium-push-2 large-6 large-push-3">
        <%= decidim_sanitize_admin translated_attribute page.content %>
      </div>
    </div>
    <div class="row collapse tos-wrapper">
      <div class="columns small-12">
        <%= cell "decidim/tos_page", :form %>
      </div>
    </div>
  </div>
</div>
