<div class="extended hero with-card" style="background-image: url(<%= background_image %>);">
  <div class="hero__container">
    <div class="row hero-with-card-row">
      <div class="<%= card_alignment_class %>">
        <div class="card with-hero">
          <div class="card-section">
            <h2><%== title %></h2>
            <div class="row">
              <div class="column medium-8">
                <%== description %>
              </div>
            </div>
            <p>
              <%= button1 %>
              <%= button2 %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
